<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badtz-maru</title>
</head>
<body>
    
    <nav>
        <h2>Personajes de Hello Kitty</h2>
        <ul>
            <li><a href="/">Hello Kitty</a></li>
            <li><a href="/badtz-maru">Badtz-maru</a></li>
            <li><a href="/chococat">Chococat</a></li>
            <li><a href="/keroppi">Keroppi</a></li>
            <li><a href="/kuromi">Kuromi</a></li>
            <li><a href="/my_melody">My melody</a></li>
        </ul>
    </nav>

    <h1 style="background-color: violet;">Badtz-maru</h1>
    <p>Personaje secundario de Sanrio y amigo de kitty.</p>

    <img src="/img/badtz_maru.jpg" alt="200px">

    <h3>Parece ser un pinguino malhumorado.</h3>
    
</body>
</html>