<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitty</title>
</head>
<body>

    <nav>
        <h2>Personajes de Hello Kitty</h2>
        <ul>
            <li><a href="/">Hello Kitty</a></li>
            <li><a href="/badtz-maru">Badtz-maru</a></li>
            <li><a href="/chococat">Chococat</a></li>
            <li><a href="/keroppi">Keroppi</a></li>
            <li><a href="/kuromi">Kuromi</a></li>
            <li><a href="/my_melody">My melody</a></li>
        </ul>
    </nav>

    <h1 style="background-color: violet;">Hello kitty</h1>
    <p>Personaje principal de Sanrio.</p>

    <img src="/img/Kitty.jpg" alt="200px">

    <h3>Es un gatito con un moño.</h3>
    <h4>Dato que nadie pidió:</h4>
    <p>Sanrio es una empresa japonesa que crea una gama de productos (sobre todo) de diseño que ofrece la serie de personajes, y licencias y vende diversos productos de marca con estos personajes. Estos productos incluyen artículos de papelería, útiles escolares, regalos y accesorios. El personaje más conocido es Hello Kitty,</p>

    <a href="https://www.sanrio.com">Pag de Sanrio</a>

</body>
</html>